
#rightDisplay{
    -fx-border-width: 1;
    /*-fx-background-color: #ebbcb8;*/
    -fx-background-image:url('autumn.gif'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    border-width: 1;
    border-color: black;
    background-image:url('autumn.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Sans Unicode";
}

#navigator{
    -fx-border-width: 1;
    -fx-background-color: #eeb15d;
    border-width: 1;
    background-color: #eeb15d;
}

/* Tab pane background and tabs */ 
.tab-pane .tab{
    -fx-background-color: #eeb15d;
}

.tab-pane .tab:selected{
    -fx-background-color: #c88931;
}

/* Calendar selector */ 

.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: black;
    background-color: black;
}

.date-picker-popup .spinner .button,
.date-picker-popup .spinner .button {
	-fx-background-color: transparent;
    background-color: transparent;
}

.calendar-grid {
    -fx-background-color: #ee7269;
}

.date-picker-popup > .month-year-pane {
    -fx-base: #fb786f;
}

.date-picker-popup > * > .day-cell{
    -fx-background-color: white;
}

.calendar-grid .day-cell:hover {
    -fx-text-fill: black;
    -fx-border-color: black;
}

.date-picker-popup .today{
    -fx-background-color:#f6cb79;
    background-color:#c9e8a0;
}    


.date-picker-popup .selected{
    -fx-background-color:#f1665d;
    -fx-text-fill: black;
}    

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: #cfcfcf;
    background-color: #cfcfcf;
}

#leaf{
    -fx-background-color: transparent;
    -fx-background-image:url('redLeaf.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    background-color: transparent;
 }

.table-view .column-header{
    -fx-background-color: #E69B27;
    background-color: #E69B27;
    -fx-width: fit-content;
    width: fit-content;
 }

 .table-view{
    -fx-background-color: #eeb15d;
    -fx-font-size: 16px;
    -fx-border-color: derive(black, -60%);
    background-color: transparent;
    font-size: 16px;
    border-color: derive(black, -60%);
}


.table-row-cell{    
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-table-cell-border-color: transparent;
    background-color: transparent;
    border-color: black;
 }

 .table-row-cell .table-cell{ 
    -fx-alignment: CENTER;
 }


 .table-row-cell:selected {
    -fx-background-color: #e69a2999;
    -fx-text-fill: #79200e;
    -fx-background-insets: 0;
    background-color: #e69a2999;
 }

 .table-row-cell:selected .table-cell{
    -fx-text-fill: #79200e;
 }