/* Background colors */
#rightDisplay{
    -fx-border-width: 1;
    /*-fx-background-color: #f6cb79;*/
    -fx-background-image:url('spring.gif'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    border-width: 1;
    border-color: black;
    background-image:url('spring.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Sans Unicode";
}

#navigator{
    -fx-border-width: 1;
    -fx-background-color: #c9e8a0;
    border-width: 1;
    background-color: #c9e8a0;
}

/* Tab pane background and tabs */ 
.tab-pane .tab{
    -fx-background-color: #c9e8a0;
}

.tab-pane .tab:selected{
    -fx-background-color: #8cb359;
}

.table-view .column-header-background{
    -fx-background-color: #c9e8a0;
}

/* Calendar selector */ 

.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: black;
    background-color: black;
}

.date-picker-popup .spinner .button,
.date-picker-popup .spinner .button {
	-fx-background-color: transparent;
    background-color: transparent;
}

.calendar-grid {
    -fx-background-color: #edeaa1;
}

.date-picker-popup > .month-year-pane {
    -fx-base: #dad787;
}

.date-picker-popup > * > .day-cell{
    -fx-background-color: white;
}

.calendar-grid .day-cell:hover {
    -fx-text-fill: black;
    -fx-border-color: black;
}

.date-picker-popup .today{
    -fx-background-color: #ebbcb8;
}    


.date-picker-popup .selected{
    -fx-background-color:#dad787;
    -fx-text-fill: black;
}    

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: #cfcfcf;
    background-color: #cfcfcf;
}

/* Mascot CSS */

#leaf{
    -fx-background-color: transparent;
    -fx-background-image:url('yellowLeaf.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    background-color: transparent;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    background-color: transparent;
 }

.table-view .column-header{
    -fx-background-color: #dad787;
    background-color: #dad787;
    -fx-width: fit-content;
    width: fit-content;
 }

 .table-view{
    -fx-background-color: #c9e8a0;
    -fx-font-size: 16px;
    -fx-border-color: derive(black, -60%);
    background-color: transparent;
    font-size: 16px;
    border-color: derive(black, -60%);
}


.table-row-cell{    
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-table-cell-border-color: transparent;
    background-color: transparent;
    border-color: black;
 }

 .table-row-cell .table-cell{ 
    -fx-alignment: CENTER;
 }


 .table-row-cell:selected {
    -fx-background-color: #dad787;
    -fx-text-fill: #79200e;
    -fx-background-insets: 0;
    background-color: #dad787;
 }

 .table-row-cell:selected .table-cell{
    -fx-text-fill: #79200e;
 }

#menu{
    -fx-background-color: #c9e8a0;
}

#today{
    -fx-background-color: #ebbcb8;
    -fx-border-width: 1;
    -fx-border-color: #dad787;
    -fx-effect: dropshadow(gaussian, rgba(10, 10, 10, 0.4), 7, 0.2, 0.0, 0.0);
}

#today:pressed{
    -fx-background-color: #c98f89;
}
