
#rightDisplay{
    -fx-border-width: 1;
    /*-fx-background-color: #f6cb79;*/
    -fx-background-image:url('spring.gif'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    border-width: 1;
    border-color: black;
    background-image:url('spring.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -fx-font-size: 15;
    -fx-font-family: "Lucida Sans Unicode";
}

#navigator{
    -fx-border-width: 1;
    -fx-background-color: #c9e8a0;
    border-width: 1;
    background-color: #c9e8a0;
}
