.labels{
    -fx-font-size: 24;
    -fx-text-fill: black;
    -fx-font-family: "Lucida Sans Unicode";
}

.left_nav{
    -fx-font-size: 12;
    -fx-font-family: "Lucida Sans Unicode";
}


/*#holder{
    -fx-background-color: #fc5dffa0;
    background-color: #fc5dffa0;
}*/

/* For Journal book*/

#del-entry{
    -fx-background-color: transparent;
    -fx-background-image:url('trashCan.jpg'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#del-entry:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 7, 0.8, 0.0, 0.0);
    -fx-opacity: 0.8;
}

#del-entry:pressed{
    -fx-effect: dropshadow(gaussian, rgba(10, 10, 10, 0.4), 7, 0.2, 0.0, 0.0);
}

#edit-entry{
    -fx-background-color: transparent;
    -fx-background-image:url('pencil.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

#edit-entry:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1), 7, 0.8, 0.0, 0.0);
    -fx-opacity: 0.8;
}

#edit-entry:pressed{
    -fx-effect: dropshadow(gaussian, rgba(10, 10, 10, 0.4), 7, 0.2, 0.0, 0.0);
}

.journal-btn{
    -fx-background-color: transparent;
    -fx-text-fill: #764203e9;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 7, 0.3, 0.5, 0.0);
}

.journal-btn:hover{
    -fx-text-fill: #a46211e9;
    -fx-effect: dropshadow(gaussian, rgba(10, 10, 10, 0.4), 7, 0.3, 0.0, 0.0);
}

.journal-btn:pressed{
    -fx-text-fill: #422603e9;
}

.book-page{
    -fx-background-color: transparent;
    background-color: transparent;
}

.book-page:focused .content{
	-fx-background-color: transparent;
    background-color: transparent;
}

.book-page .content{
	-fx-background-color: transparent;
    background-color: transparent;
}

.book-page .scroll-pane .viewport{
    -fx-background-color: transparent;
    background-color: transparent;
}


.book-page .scroll-pane .content{
    -fx-background-color: transparent;
    background-color: transparent;
}

#journal-background{
    -fx-background-color: transparent;
    background-color: transparent;
}

#journal-background2 > .viewport{
    -fx-background-color: transparent;
    background-color: transparent;
}


#journal-book{
    -fx-size: 100% 100%;
    -fx-background-image: url("book.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}


/* For Tracker Sliders */ 
.slider .track {
    -fx-background-color: linear-gradient(to right, lightblue, darkblue);
    background-color: linear-gradient(to right, lightblue, darkblue);
}

.slider .thumb {
    -fx-background-color: white;
    background-color: white;
}

/* Delete button */

.trash{
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-image:url('trashCan.png'); 
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    border-width: 1;
    border-color: black;
    background-image:url("trashCan.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.to-do-table{
    -fx-background-color: #dad787;

}